<div class="container">
      <h1 class="text-center">Groucho Fine Drinks</h1>
      <%= cl_image_tag 'bmxoupy3s3izrlcqdvdc', class: 'avatar-large img-responsive center-block' %>
</div>



<div class="container text-center">
  <%= link_to 'Add Cocktail', new_cocktail_path, class: 'btn btn-info btn-lg'%>

</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-cocktail">
          <%= link_to cocktail.name, cocktail_path(cocktail.id) , class: 'cocktail-name text-center' %>
          <%= cl_image_tag cocktail.photo, width: 70, height: 70, class:"avatar-large" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

